.recommended{
	padding-bottom: 2px;
	.recommended-container-title{
		margin-bottom: 20px;
	    text-align: center;
		.page-sub-title{
			font-family: $cou;
			color: $green;
			font-size: 14px;
		}
		.page-main-title{
			font-size: 18px;
			font-weight: 600;
		}
	}
	.recommended-big-img{
		margin-bottom: 20px;
	}
	.recommended-box{
		padding: 20px;
		margin-bottom: 20px;
		box-shadow: 0px 0px 23px -8px rgba(51, 51, 51, 0.3411764705882353);
		&:before{
			content: "";
			position: absolute;
			bottom: 0;
			right: 0;
			width: 5px;
			height: 0;
			background: $green;
			transition: 0.5s;
		}
		&:hover{
			&:before{
				height: 100%;
			}
		}
	}
	.recommended-box{
		text-align: center;
	}
}

// .recommended {
// 	.recommended-box{
// 		.signature-img{
// 			width: 90px
// 		}
// 	}
// }

@media (max-width: 575px){
	.recommended{
		padding-top: 20px !important;
		padding-bottom: 6px !important;
	}
}

@media (min-width: 768px){
	.recommended{
		padding: 35px 0 16px;
	}
}

@media (min-width: 1024px){
	.recommended{
	    padding: 40px 0 20px;
	}
}

@media (min-width: 768px){
	.recommended {
		.recommended-box,
		.recommended-container-title{
			text-align: left;
		}
	}
}
@media (min-width: 1024px){
	.recommended {

		.recommended-box {
			padding: 15px;
			p{
				line-height: 20px;
			}
		}
		.recommended-container-title{
			margin-bottom: 10px;
		}
	}
}
@media (min-width: 1200px){
	.recommended {
		padding: 97px 0 81px;
		.recommended-container-title {
			margin-bottom: 60px;
			text-align: left;
		    margin-top: 25px;
			.page-sub-title{
				font-size: 18px;
				line-height: 28px;
			}
			.page-main-title{
				font-size: 24px;
				line-height: 34px;
				color: #333740;
				font-weight: 700;
			}
		}
		.recommended-box{
	        padding: 30px 30px 30px 20px;
		    transition: 0.5s;
		    text-align: left;
		    margin-right: 25px;
		    &:hover{
		    	transform: translateY(-10px);
		    }
		}
		.recommended-box-title{
			font-size: 18px;
			line-height: 28px;
			color: #333740;
			font-weight:700;
		}
		.recommended-box p{
			font-size: 15px;
			line-height: 25px;
		    margin-bottom: 10px;
		}
		.recommended-right-box{
			margin-left: 5px;
		}
	}
	.recommended-area{
		padding-left: 44px;
	}
}

@media (max-width: 768px){
	.recommended{
	    padding: 39px 0 23px;
	    .page-sub-title{
	    	line-height: 24px;
	    }
	    .page-main-title{
	    	line-height: 28px;
	    }
	}
}

@media (max-width: 1024px){
	.recommended {
		.recommended-big-img{
		    margin-top: 10px;
		}
		.recommended-box img{
		    width: 115px;
		}
	}
}