<!doctype html>
<html class="no-js" lang="">
<head>
        {% load static %}

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
<!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"-->
<!--          integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">-->
    <title>VIGO-Health Supplement Landing Page HTML5 Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="{% static "appvizitka/apple-touch-icon.png" %}">
    <!-- Place favicon.ico in the root directory -->


    <!-- =========================
        Loding All Stylesheet
    ============================== -->
    <link rel="stylesheet" href=" {% static "appvizitka/css/hover-min.css" %}">
    <link rel="stylesheet" href=" {% static "appvizitka/css/magnific-popup.css" %}">
    <link rel="stylesheet" href=" {% static "appvizitka/css/font-awesome.min.css" %}">
    <link rel="stylesheet" href=" {% static "appvizitka/css/flexslider.css" %}">
    <link rel="stylesheet" href=" {% static "appvizitka/css/owl.carousel.min.css" %}">
    <link rel="stylesheet" href=" {% static "appvizitka/css/bootstrap.min.css" %}">

    <!-- =========================
        Loding Main Theme Style
    ============================== -->
    <link rel="stylesheet" href="{% static "appvizitka/css/style.css" %}">
    <link rel="stylesheet" href="{% static "appvizitka/css/color.css" %}">

    <!-- =========================
    	Header Loding JS Script
    ============================== -->
    <script src= "{% static "appvizitka/js/modernizr.js" %}"></script>
</head>
<body id="vigo_body">
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<div class="vigo-loder">
    <div class="sk-rotating-plane"></div>
</div>

<!-- ==============================
    Header top
=================================== -->


<!-- ==============================
    Main Navbar
=================================== -->


<!-- ==============================
    Slider Section
=================================== -->
<section class="main-slider">
    <div id="main-slider" class="owl-carousel owl-theme">
        <div class="item">
            <img src="{% static "appvizitka/img/Img 111.jpg" %}" class="img-fluid" alt="Vigo Slider Image">
            <div class="slider-text-box">
                <div class="container custom-container">
                    <div class="row">
                        <div class="col-12 col-md-6 col-xl-5">
                            <div class="ct-slider-text">
                                <h1 class="slider-title"><br> <strong>Простамикс</strong></h1>
                                <p class="d-none d-md-block">Биз сизга албатта қўнғироқ қиламиз</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</section>

<script src="{% static "appvizitka/js/jquery.min.js" %}"></script>
<script src="{% static "appvizitka/js/popper.min.js" %}"></script>
<script src="{% static "appvizitka/js/bootstrap.min.js" %}"></script>
<script src="{% static "appvizitka/js/simplePlayer.js" %}"></script>
<script src="{% static "appvizitka/js/owl.carousel.min.js" %}"></script>
<script src="{% static "appvizitka/js/jquery.flexslider.js" %}"></script>
<script src="{% static "appvizitka/js/jquery.magnific-popup.min.js" %}"></script>
<script src="{% static "appvizitka/js/jquery.sticky.js" %}"></script>
<script src="{% static "appvizitka/js/jquery.nav.js" %}"></script>
<script src="{% static "appvizitka/js/mixitup.min.js" %}"></script>
<script src="{% static "appvizitka/js/main.js" %}"></script>

</body>
</html>