/*------------------------------------------
	Google Font
--------------------------------------------*/
$ral: 'Raleway', sans-serif;
$lato: 'Lato', sans-serif;
$cou: 'Courgette', cursive;


/*------------------------------------------
	Theme Colors
--------------------------------------------*/
$white: #fff;
$green: #2acb35;
$black: #333740;
$light-gray: #f1f1f1;


